<div>
  <div class="custom-control custom-radio">
    <input id="male" formControlName="gender" type="radio" class="custom-control-input" value="male" name="gender" ngModel>
    <label class="custom-control-label" for="male">Male</label>
  </div>

  <div class="custom-control custom-radio">
    <input id="female" type="radio" formControlName="gender" class="custom-control-input" value="female" name="gender" ngModel>
    <label class="custom-control-label" for="female">Female</label>
  </div>
</div>